@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

.layout {
  background-color: #edeef0;
  background-image: url("../../assets/bg/login-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-align: center;
  padding: 2rem;
  height: 100vh;
}

form {
  width: 100%;
}

@media (min-width: 768px) {
  main {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
  }
}

@media (min-width: 992px) {
  main {
    width: 30%;
  }
}
