<app-alert></app-alert>
<div class="layout">
  <nav class="navbar navbar-expand-lg relative">
    <div class="container-fluid">
      <div class="navbar-collapse justify-content-between d-flex">
        <div class="navbar-lg">
          <div class="toolbar-button" (click)="openSeries()">
            <div class="rounded-button" [ngClass]="isSeriesActive ? 'active' : ''">
              <svg class="rounded-button-svg" fill="currentColor" height="1em"
                   id="th-large" viewBox="0 0 15 13" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h7v6H0zm8 0h7v6H8zM0 7h7v6H0zm8 0h7v6H8z"></path>
              </svg>
            </div>
            <div class="toolbar-button-label hide">Series</div>
          </div>
          <ul class="navbar-nav" [ngClass]="isMenuOpen ? 'nav-active' : ''">
            <li (click)="stackScrollTool('stackScrollTool')"
                [ngClass]="activeToolName === 'stackScrollTool' ? 'active' : ''" class="toolbar-button">
              <svg fill="currentColor" height="1em" id="bars" viewBox="0 0 1792 1792"
                   width="1em"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1664 1344v128q0 26-19 45t-45 19H192q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19H192q-26 0-45-19t-19-45V832q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19H192q-26 0-45-19t-19-45V320q0-26 19-45t45-19h1408q26 0 45 19t19 45z"></path>
              </svg>
              <div class="toolbar-button-label">Stack Scroll</div>
            </li>
            <li (click)="zoomTool('zoomTool')" [ngClass]="activeToolName === 'zoomTool' ? 'active' : ''"
                class="toolbar-button">
              <svg height="1em" id="search-plus" stroke="currentColor" viewBox="0 0 17 17"
                   width="1em" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" stroke-linecap="round" stroke-width="2">
                  <path d="M11.5 11.5L16 16"></path>
                  <circle cx="7" cy="7" r="6"></circle>
                </g>
              </svg>
              <div class="toolbar-button-label">Zoom</div>
            </li>
            <li (click)="levelsTool('levelsTool')" [ngClass]="activeToolName === 'levelsTool' ? 'active' : ''"
                class="toolbar-button">
              <svg fill="currentColor" height="1em" id="level" stroke="currentColor"
                   viewBox="0 0 18 18"
                   width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.5 3.5a1 1 0 0 1-11 11z" opacity=".8" stroke="none"></path>
                <circle cx="9" cy="9" fill="none" r="8" stroke-width="2"></circle>
              </svg>
              <div class="toolbar-button-label">Levels</div>
            </li>
            <li (click)="panTool('panTool')" [ngClass]="activeToolName === 'panTool' ? 'active' : ''"
                class="toolbar-button">
              <svg fill="none" height="1em" id="arrows" stroke="currentColor"
                   stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 18 18"
                   width="1em"
                   xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1v16M1 9h16M7 3l2-2 2 2M15 11l2-2-2-2M11 15l-2 2-2-2M3 7L1 9l2 2"></path>
              </svg>
              <div class="toolbar-button-label">Pan</div>
            </li>
            <li (click)="lengthTool('lengthTool')" [ngClass]="activeToolName === 'lengthTool' ? 'active' : ''"
                class="toolbar-button" id="lengthTool">
              <svg fill="none" height="1em" id="measure-temp" stroke="currentColor"
                   viewBox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                <g stroke-linecap="round" stroke-linejoin="round">
                  <circle cx="6.5" cy="6.5" r="6"></circle>
                  <path d="M6.5 3v7M3 6.5h7"></path>
                  <path d="M22.5 6L6 22.5" stroke-dasharray="0.6666,5" stroke-width="3"></path>
                </g>
              </svg>
              <div class="toolbar-button-label">Length</div>
            </li>
            <li (click)="annotateTool('annotateTool')" [ngClass]="activeToolName === 'annotateTool' ? 'active' : ''"
                class="toolbar-button" id="annotateTool">
              <svg fill="none" height="1em" id="measure-non-target"
                   stroke="currentColor"
                   stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24" width="1em"
                   xmlns="http://www.w3.org/2000/svg">
                <circle cx="6.5" cy="6.5" r="6"></circle>
                <path d="M6.5 3v7M3 6.5h7"></path>
                <path d="M23 7L8 22m-1-5v6h6" stroke-width="2"></path>
              </svg>
              <div class="toolbar-button-label">Annotate</div>
            </li>
            <li (click)="angleTool('angleTool')" [ngClass]="activeToolName === 'angleTool' ? 'active' : ''"
                class="toolbar-button">
              <svg fill="currentColor" height="1em" id="angle-left" viewBox="0 0 256 512"
                   width="1em" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path>
              </svg>
              <div class="toolbar-button-label">Angle</div>
            </li>
            <li (click)="resetTool()" class="toolbar-button" id="reset">
              <svg fill="currentColor" height="1em" id="reset" viewBox="0 0 24 28"
                   width="1em"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M24 14c0 6.609-5.391 12-12 12a11.972 11.972 0 0 1-9.234-4.328.52.52 0 0 1 .031-.672l2.141-2.156a.599.599 0 0 1 .391-.141.51.51 0 0 1 .359.187A7.91 7.91 0 0 0 12 21.999c4.406 0 8-3.594 8-8s-3.594-8-8-8A7.952 7.952 0 0 0 6.563 8.14l2.141 2.156a.964.964 0 0 1 .219 1.078 1.002 1.002 0 0 1-.922.625h-7c-.547 0-1-.453-1-1v-7c0-.406.25-.766.625-.922a.964.964 0 0 1 1.078.219l2.031 2.016c2.203-2.078 5.187-3.313 8.266-3.313 6.609 0 12 5.391 12 12z"></path>
              </svg>
              <div class="toolbar-button-label">Reset</div>
            </li>
            <li class="dropdown toolbar-button" (click)="openMore()">
              <div>
                <svg fill="currentColor" height="1em" id="ellipse-circle"
                     viewBox="0 0 18 18"
                     width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9 0a9 9 0 0 1 0 18A9 9 0 0 1 9 0M4.5 8a1.5 1.5 0 0 0 0 3 1.5 1.5 0 0 0 0-3M9 8a1.5 1.5 0 0 0 0 3 1.5 1.5 0 0 0 0-3m4.5 0a1.5 1.5 0 0 0 0 3 1.5 1.5 0 0 0 0-3"></path>
                </svg>
                <div class="toolbar-button-label dropdown-toggle">More</div>
              </div>
            </li>

            <div class="toolbar-menu" [ngClass]="isMoreOpen ? 'd-flex' : ''">
              <div (click)="magnifyTool('magnifyTool')" [ngClass]="activeToolName === 'magnifyTool' ? 'active' : ''"
                   class="toolbar-button">
                <svg fill="currentColor" height="1em" id="circle"
                     viewBox="0 0 512 512"
                     width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
                </svg>
                <div class="toolbar-button-label">Magnify</div>
              </div>
              <div (click)="probeTool('probeTool')" [ngClass]="activeToolName === 'probeTool' ? 'active' : ''"
                   class="toolbar-button" id="probeTool">
                <svg fill="currentColor" height="1em" id="dot-circle"
                     viewBox="0 0 512 512" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M256 56c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m0-48C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 168c-44.183 0-80 35.817-80 80s35.817 80 80 80 80-35.817 80-80-35.817-80-80-80z"></path>
                </svg>
                <div class="toolbar-button-label">Probe</div>
              </div>
              <div (click)="ellipseTool('ellipseTool')" [ngClass]="activeToolName === 'ellipseTool' ? 'active' : ''"
                   class="toolbar-button" id="ellipseTool">
                <svg fill="currentColor" height="1em" id="circle-o"
                     viewBox="0 0 512 512" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200z"></path>
                </svg>
                <div class="toolbar-button-label">Ellipse</div>
              </div>
              <div (click)="rectangleTool('rectangleTool')"
                   [ngClass]="activeToolName === 'rectangleTool' ? 'active' : ''" class="toolbar-button"
                   id="rectangleTool">
                <svg fill="currentColor" height="1em" id="square-o"
                     viewBox="0 0 448 512" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-6 400H54c-3.3 0-6-2.7-6-6V86c0-3.3 2.7-6 6-6h340c3.3 0 6 2.7 6 6v340c0 3.3-2.7 6-6 6z"></path>
                </svg>
                <div class="toolbar-button-label">Rectangle</div>
              </div>
              <div (click)="invertTool('invertTool')" [ngClass]="activeToolName === 'invertTool' ? 'active' : ''"
                   class="toolbar-button" id="invert">
                <svg fill="currentColor" height="1em" id="adjust"
                     viewBox="0 0 24 28"
                     width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 22.5v-17c-4.688 0-8.5 3.813-8.5 8.5s3.813 8.5 8.5 8.5zM24 14c0 6.625-5.375 12-12 12S0 20.625 0 14 5.375 2 12 2s12 5.375 12 12z"></path>
                </svg>
                <div class="toolbar-button-label">Invert</div>
              </div>
              <div (click)="rotateTool('rotateTool')" [ngClass]="activeToolName === 'rotateTool' ? 'active' : ''"
                   class="toolbar-button">
                <svg fill="currentColor" height="1em" id="rotate-right"
                     viewBox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M16.875 15.469a5.509 5.509 0 0 0 1.031-2.484h2.016a8.11 8.11 0 0 1-1.594 3.891zm-3.891 2.437a5.527 5.527 0 0 0 2.484-1.031l1.453 1.453c-1.172.891-2.531 1.406-3.938 1.594v-2.016zm6.938-6.89h-2.016a5.527 5.527 0 0 0-1.031-2.484l1.453-1.406a8.107 8.107 0 0 1 1.594 3.891zm-4.359-5.485l-4.547 4.453V6.093C8.157 6.562 6 9.046 6 11.999s2.156 5.438 5.016 5.906v2.016c-3.938-.469-7.031-3.844-7.031-7.922s3.094-7.453 7.031-7.922V.983z"></path>
                </svg>
                <div class="toolbar-button-label">Rotate</div>
              </div>
              <div (click)="hFlipTool('hFlipTool')" [ngClass]="activeToolName === 'hFlipTool' ? 'active' : ''"
                   class="toolbar-button" id="hFlip">
                <svg fill="currentColor" height="1em" id="ellipse-h"
                     viewBox="0 0 22 28"
                     width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M6 11.5v3A1.5 1.5 0 0 1 4.5 16h-3A1.5 1.5 0 0 1 0 14.5v-3A1.5 1.5 0 0 1 1.5 10h3A1.5 1.5 0 0 1 6 11.5zm8 0v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 8 14.5v-3A1.5 1.5 0 0 1 9.5 10h3a1.5 1.5 0 0 1 1.5 1.5zm8 0v3a1.5 1.5 0 0 1-1.5 1.5h-3a1.5 1.5 0 0 1-1.5-1.5v-3a1.5 1.5 0 0 1 1.5-1.5h3a1.5 1.5 0 0 1 1.5 1.5z"></path>
                </svg>
                <div class="toolbar-button-label">FlipH</div>
              </div>
              <div (click)="vFlipTool('vFlipTool')" [ngClass]="activeToolName === 'vFlipTool' ? 'active' : ''"
                   class="toolbar-button" id="vFlip">
                <svg fill="currentColor" height="1em" id="ellipse-v"
                     viewBox="0 0 6 28"
                     width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M6 19.5v3A1.5 1.5 0 0 1 4.5 24h-3A1.5 1.5 0 0 1 0 22.5v-3A1.5 1.5 0 0 1 1.5 18h3A1.5 1.5 0 0 1 6 19.5zm0-8v3A1.5 1.5 0 0 1 4.5 16h-3A1.5 1.5 0 0 1 0 14.5v-3A1.5 1.5 0 0 1 1.5 10h3A1.5 1.5 0 0 1 6 11.5zm0-8v3A1.5 1.5 0 0 1 4.5 8h-3A1.5 1.5 0 0 1 0 6.5v-3A1.5 1.5 0 0 1 1.5 2h3A1.5 1.5 0 0 1 6 3.5z"></path>
                </svg>
                <div class="toolbar-button-label">FlipV</div>
              </div>
              <div (click)="clearTool()" class="toolbar-button">
                <svg fill="currentColor" height="1em" id="trash"
                     viewBox="0 0 448 512"
                     width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path>
                </svg>
                <div class="toolbar-button-label">Clear</div>
              </div>
              <div (click)="bidirectionalTool('bidirectionalTool')"
                   [ngClass]="activeToolName === 'bidirectionalTool' ? 'active' : ''" class="toolbar-button">
                <svg fill="currentColor" height="1em" id="measure-target"
                     stroke-width="0" viewBox="0 0 26 26" width="1em"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9.5 26l2-2-1.5-1.5.5-.5 1.5 1.5 1.5-1.5-2.5-2.5.5-.5 2.5 2.5 1.5-1.5-1.5-1.5.5-.5 1.5 1.5 1.5-1.5-2.5-2.5.5-.5 2.5 2.5 1.5-1.5-1.5-1.5.5-.5 1.5 1.5 1.5-1.5-2.5-2.5.5-.5 2.5 2.5 1.5-1.5-1.5-1.5.5-.5 1.5 1.5 2-2-4-4a2 2 0 0 0-2.5 0l-14 14a2 2 0 0 0 0 2.5l4 4zM6 0a6 6 0 0 1 0 12A6 6 0 0 1 6 0m.5 3a.5.5 0 0 0-1 0v2.5H3a.5.5 0 0 0 0 1h2.5V9a.5.5 0 0 0 1 0V6.5H9a.5.5 0 0 0 0-1H6.5z"></path>
                </svg>
                <div class="toolbar-button-label">Bidirectional</div>
              </div>
              <div class="toolbar-button">
                <svg fill="currentColor" height="1em" id="eraser"
                     viewBox="0 0 2048 1792" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M960 384l336 384H528L192 384h768zm1013 1077q15-34 9.5-71.5T1952 1324L1056 300q-38-44-96-44H192q-38 0-69.5 20.5T75 331q-15 34-9.5 71.5T96 468l896 1024q38 44 96 44h768q38 0 69.5-20.5t47.5-54.5z"
                    fill="ACTIVE_COLOR"></path>
                </svg>
                <div class="toolbar-button-label">Eraser</div>
              </div>
            </div>
            <li class="toolbar-button" (click)="saveData()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save"
                   viewBox="0 0 16 16">
                <path
                  d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
              </svg>
              <div class="toolbar-button-label">Save</div>
            </li>
            <li class="toolbar-button" (click)="getData()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-brush-fill" viewBox="0 0 16 16">
                <path
                  d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.117 8.117 0 0 1-3.078.132 3.658 3.658 0 0 1-.563-.135 1.382 1.382 0 0 1-.465-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.393-.197.625-.453.867-.826.094-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.2-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.175-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04z"/>
              </svg>
              <div class="toolbar-button-label">Get Data</div>
            </li>
            <li class="toolbar-button" (click)="downloadDoc()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                <path
                  d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                <path
                  d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
              </svg>
              <div class="toolbar-button-label">Get Diagnosis</div>
            </li>

            <!--            <li class="dropdown toolbar-button">-->
            <!--              <div (click)="layoutDropdown()">-->
            <!--                <svg fill="currentColor" height="1em" id="th" viewBox="0 0 512 512"-->
            <!--                     width="1em"-->
            <!--                     xmlns="http://www.w3.org/2000/svg">-->
            <!--                  <path-->
            <!--                    d="M149.333 56v80c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V56c0-13.255 10.745-24 24-24h101.333c13.255 0 24 10.745 24 24zm181.334 240v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.256 0 24.001-10.745 24.001-24zm32-240v80c0 13.255 10.745 24 24 24H488c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24zm-32 80V56c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.256 0 24.001-10.745 24.001-24zm-205.334 56H24c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24zM0 376v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H24c-13.255 0-24 10.745-24 24zm386.667-56H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24zm0 160H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24zM181.333 376v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24z"></path>-->
            <!--                </svg>-->
            <!--                <div class="toolbar-button-label">More</div>-->
            <!--              </div>-->
            <!--              <div class="dropdown-menu" [ngClass]="isLayoutOpen ? 'd-block' : ''">-->
            <!--                <div class="layoutChooser" style="display: block; min-width: 68px;">-->
            <!--                  <table>-->
            <!--                    <tbody>-->
            <!--                    <tr>-->
            <!--                      <td (click)="createGrid(1, 1)" [ngClass]="isHover[1] ? 'hover' : ''"-->
            <!--                          (mouseenter)="layoutHover(1, 1)"-->
            <!--                          style="width: 20px; height: 20px; border: 1px solid black"></td>-->
            <!--                      <td (click)="createGrid(1, 2)" [ngClass]="isHover[2] ? 'hover' : ''"-->
            <!--                          (mouseenter)="layoutHover(1, 2)"-->
            <!--                          style="width: 20px; height: 20px; border: 1px solid black;"></td>-->
            <!--                      <td (click)="createGrid(1, 3)" [ngClass]="isHover[3] ? 'hover' : ''"-->
            <!--                          (mouseenter)="layoutHover(1, 3)"-->
            <!--                          style="width: 20px; height: 20px; border: 1px solid black;"></td>-->
            <!--                    </tr>-->
            <!--                    <tr>-->
            <!--                      <td (click)="createGrid(2, 1)" [ngClass]="isHover[4] ? 'hover' : ''"-->
            <!--                          (mouseenter)="layoutHover(2, 1)"-->
            <!--                          style="width: 20px; height: 20px; border: 1px solid black;"></td>-->
            <!--                      <td (click)="createGrid(2, 2)" [ngClass]="isHover[5] ? 'hover' : ''"-->
            <!--                          (mouseenter)="layoutHover(2, 2)"-->
            <!--                          style="width: 20px; height: 20px; border: 1px solid black;"></td>-->
            <!--                      <td (click)="createGrid(2, 3)" [ngClass]="isHover[6] ? 'hover' : ''"-->
            <!--                          (mouseenter)="layoutHover(2, 3)"-->
            <!--                          style="width: 20px; height: 20px; border: 1px solid black;"></td>-->
            <!--                    </tr>-->
            <!--                    <tr>-->
            <!--                      <td (click)="createGrid(3, 1)" [ngClass]="isHover[7] ? 'hover' : ''"-->
            <!--                          (mouseenter)="layoutHover(3, 1)"-->
            <!--                          style="width: 20px; height: 20px; border: 1px solid black;"></td>-->
            <!--                      <td (click)="createGrid(3, 2)" [ngClass]="isHover[8] ? 'hover' : ''"-->
            <!--                          (mouseenter)="layoutHover(3, 2)"-->
            <!--                          style="width: 20px; height: 20px; border: 1px solid black;"></td>-->
            <!--                      <td (click)="createGrid(3, 3)" [ngClass]="isHover[9] ? 'hover' : ''"-->
            <!--                          (mouseenter)="layoutHover(3, 3)"-->
            <!--                          style="width: 20px; height: 20px; border: 1px solid black;"></td>-->
            <!--                    </tr>-->
            <!--                    </tbody>-->
            <!--                  </table>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </li>-->
          </ul>
        </div>
        <div class="toolbar-button" (click)="openMes()">
          <div class="rounded-button" [ngClass]="isMesActive ? 'active' : ''">
            <svg class="rounded-button-svg" fill="currentColor" height="1em"
                 id="list"
                 viewBox="0 0 18 10" width="1em"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h2v2H0zm4 0h14v2H4zM0 4h2v2H0zm4 0h14v2H4zM0 8h2v2H0zm4 0h14v2H4z"></path>
            </svg>
          </div>
          <div class="toolbar-button-label hide">Measurements</div>
        </div>
        <div (click)="openMenu()" class="open">
          <div class="rounded-button" [ngClass]="isMenuOpen ? 'active' : ''">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                 viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="content-layout">
    <div class="sidebar" *ngIf="seriesSetFiles.length" [ngClass]="isSeriesActive ? 'showSidebar' : 'hideSidebar'">
      <div *ngFor="let sFile of seriesSetFiles; let i = index">
        <div id="series-{{i}}" class="dcm-series" (click)="loadFiles(i)">
          <img [src]="sFile" alt="">
        </div>
      </div>
    </div>

    <div class="dcm-layout">
      <div id="dcm-1" class="dicom" (click)="checkToolState()"></div>
    </div>

    <div class="measurements" [ngClass]="isMesActive ? 'showMes' : 'hideMes'">
      <div class="table-list">
        <div class="table-list-header">Measurements</div>
        <div id="table-list-number" class="table-list-number">{{toolDataList.length}}</div>
      </div>
      <div *ngIf="toolDataList">
        <div *ngFor="let data of toolDataList" class="table-data">
          <div>{{data.name}}</div>
          <div *ngIf="data.name === 'Length'">{{data.data}}</div>
          <div *ngIf="data.name === 'Annotate'">{{data.data | titlecase}}</div>
          <div *ngIf="data.name === 'Angle'">{{data.data}}</div>
          <div *ngIf="data.name === 'Probe'">X: {{data.data.x}},
            Y: {{data.data.y}}</div>
          <div *ngIf="data.name === 'Elliptical'">{{data.data}}</div>
          <div *ngIf="data.name === 'Rectangle'">{{data.data}}</div>
          <div *ngIf="data.name === 'Bidirectional'">L: {{data.longestDiameter}}, W: {{data.shortestDiameter}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" class="loading">
  <div class="loader"></div>
</div>
